@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Web Portfolio</h1>
    <p>Check out the tabs above to see who I am and some of my projects!</p>
</div>