@{
    ViewData["Title"] = "Projects";
}

<h1 class="text-center display-4">Projects</h1>

<div class="text-center">
    <h2>My Work</h2>
</div>
<br />
<div class="container text-start">
    <h2>AWD1000 - Web Development Technologies</h2>
    <ul>
        <li>Connecting Through Charity Midterm</li>
        <li>Login Page</li>
        <li>React Quiz App</li>
        <li>Upvote Downvote</li>
        <li>React CRUD Application</li>
    </ul>
    <a href="https://github.com/dmgalatiranken/WebDevPortfolioProjects" target="_blank" class="btn btn-primary">GitHub Repository</a>
</div>
<hr />
<div class="container text-start">
    <h2>AWD1100 - Programming Fundamentals with C#</h2>
    <ul>
        <li>Address Book</li>
        <li>Bank Login</li>
        <li>Order Validator</li>
        <li>Resort Cost</li>
        <li>Song Search</li>
        <li>Test Scores</li>
    </ul>
    <a href="https://github.com/dmgalatiranken/CSharpPortfolioProjects" target="_blank" class="btn btn-primary">GitHub Repository</a>
</div>